VITE_FLOUSY_FIREBASE_API_KEY=replace-with-firebase-web-api-key
VITE_FLOUSY_FIREBASE_AUTH_DOMAIN=flousy-6a153.firebaseapp.com
VITE_FLOUSY_FIREBASE_PROJECT_ID=flousy-6a153
VITE_FLOUSY_FIREBASE_STORAGE_BUCKET=flousy-6a153.firebasestorage.app
VITE_FLOUSY_FIREBASE_MESSAGING_SENDER_ID=replace-with-sender-id
VITE_FLOUSY_FIREBASE_APP_ID=replace-with-web-app-id
